<a href="https://colab.research.google.com/github/ddenebb/ML_regressions/blob/main/Tasca_M6_T01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#- Exercise 1

Create at least two different regression models to try to better predict the house price (MEDV) in the attachment.

In [1]:
from google.colab import drive
drive.mount('/content/drive')
images_dir = '/content/gdrive/My Drive/Images'

Mounted at /content/drive

In [2]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind
import warnings

warnings.filterwarnings('ignore')

path = "/content/drive/MyDrive/Google Colab DS IT Academy/Sprint 5/Data/housing data.csv"
col_names = ["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"]
df = pd.read_csv(path, names=col_names)
print(df.info(memory_usage='deep'))
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB
None

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [16]:
from sklearn.model_selection import train_test_split

X = df.drop("MEDV", axis=1) # attributes
y = df["MEDV"] # target variable 

X_list = list(X.columns)
X = np.array(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
X_train_df = pd.DataFrame(X_train, columns=X_list)
X_test_df = pd.DataFrame(X_test, columns=X_list)
y_train_df = pd.DataFrame(y_train, columns=['MEDV'])
y_test_df = pd.DataFrame(y_test, columns=['MEDV'])

In [18]:
from sklearn.preprocessing import StandardScaler, RobustScaler
import numpy as np

# normalize columns 'INDUS', 'NOX', 'AGE', 'RAD', 'TAX'
X_train_norm = X_train.copy()
cols_to_norm = ['INDUS', 'NOX', 'AGE', 'RAD', 'TAX']
index_cols_to_norm = [X_list.index(col) for col in cols_to_norm]

scaler = StandardScaler()
X_train_norm[:, index_cols_to_norm] = scaler.fit_transform(X_train_norm[:, index_cols_to_norm])

# robust scale columns 'CRIM', 'ZN', 'RM', 'DIS', 'PTRATIO', 'B', 'LSTAT'
X_train_robust = X_train_norm.copy()
cols_to_robust = ['CRIM', 'ZN', 'RM', 'DIS', 'PTRATIO', 'B', 'LSTAT']
index_cols_to_robust = [X_list.index(col) for col in cols_to_robust]

scaler = RobustScaler()
X_train_robust[:, index_cols_to_robust] = scaler.fit_transform(X_train_robust[:, index_cols_to_robust])

# reshape y_train to 2-dimensional array
y_train = y_train.to_numpy()
y_train = y_train.reshape(-1,1)

In [19]:
X_train_processed_df = pd.DataFrame(X_train_robust, columns=X_list)
X_train_processed_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,4.729102,0.00,1.033237,0.0,0.489252,-1.214070,1.028015,-0.324502,1.706891,1.578434,0.441176,-2.062123,1.456771
1,0.117250,0.00,-0.413160,0.0,-0.157233,-0.503853,-0.431199,0.399300,-0.624360,-0.584648,0.676471,0.212745,-0.255729
2,-0.072634,1.75,-0.715218,0.0,-1.008723,-0.239866,-1.618599,1.045888,-0.974048,-0.602724,-0.529412,-1.432516,-0.322396
3,2.174908,0.00,1.033237,0.0,0.489252,-0.143384,0.591681,-0.348318,1.706891,1.578434,0.441176,-19.168495,1.288021
4,0.148777,0.00,-0.413160,0.0,-0.157233,-0.647236,0.033747,0.187372,-0.624360,-0.584648,0.676471,-0.017503,0.036979
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,-0.028893,0.00,-0.352167,0.0,-0.310348,-0.501173,0.834884,-0.291208,-0.507797,-0.120700,0.647059,0.215210,0.805729
400,0.012100,1.00,-0.584520,0.0,-0.786706,-0.474372,-0.946216,0.378291,-0.740922,-1.090773,-0.029412,-0.130901,0.216146
401,-0.078929,4.00,-1.303361,0.0,-1.033391,0.569514,-1.389703,1.560026,-0.624360,-0.747331,-0.500000,-0.017996,-0.514062
402,3.491566,0.00,1.033237,0.0,1.561057,0.561474,0.931450,-0.317257,1.706891,1.578434,0.441176,-13.876741,1.285937
403,-0.010453,0.00,-0.352167,0.0,-0.310348,0.261307,0.602411,-0.139167,-0.507797,-0.120700,0.647059,-15.802046,-0.030729

We first import the LinearRegression class from scikit-learn. Then we create an instance of the class, which is our linear regression model. We use the "fit" method to train the model on our training data (X_train and y_train). Finally, we use the "predict" method to make predictions on our test data (X_test) and store the results in the variable "y_pred".

In [21]:
from sklearn.linear_model import LinearRegression

# Create an instance of the linear regression model
lin_reg = LinearRegression()

# Fit the model to the training data
lin_reg.fit(X_train, y_train)

# Make predictions on the test data
y_pred = lin_reg.predict(X_test)
print(y_pred)

[[28.99672362]
 [36.02556534]
 [14.81694405]
 [25.03197915]
 [18.76987992]
 [23.25442929]
 [17.66253818]
 [14.34119   ]
 [23.01320703]
 [20.63245597]
 [24.90850512]
 [18.63883645]
 [-6.08842184]
 [21.75834668]
 [19.23922576]
 [26.19319733]
 [20.64773313]
 [ 5.79472718]
 [40.50033966]
 [17.61289074]
 [27.24909479]
 [30.06625441]
 [11.34179277]
 [24.16077616]
 [17.86058499]
 [15.83609765]
 [22.78148106]
 [14.57704449]
 [22.43626052]
 [19.19631835]
 [22.43383455]
 [25.21979081]
 [25.93909562]
 [17.70162434]
 [16.76911711]
 [16.95125411]
 [31.23340153]
 [20.13246729]
 [23.76579011]
 [24.6322925 ]
 [13.94204955]
 [32.25576301]
 [42.67251161]
 [17.32745046]
 [27.27618614]
 [16.99310991]
 [14.07009109]
 [25.90341861]
 [20.29485982]
 [29.95339638]
 [21.28860173]
 [34.34451856]
 [16.04739105]
 [26.22562412]
 [39.53939798]
 [22.57950697]
 [18.84531367]
 [32.72531661]
 [25.0673037 ]
 [12.88628956]
 [22.68221908]
 [30.48287757]
 [31.52626806]
 [15.90148607]
 [20.22094826]
 [16.71089812]
 [20.52384893]
 [25.96356264]
 [30.61607978]
 [11.59783023]
 [20.51232627]
 [27.48111878]
 [11.01962332]
 [15.68096344]
 [23.79316251]
 [ 6.19929359]
 [21.6039073 ]
 [41.41377225]
 [18.76548695]
 [ 8.87931901]
 [20.83076916]
 [13.25620627]
 [20.73963699]
 [ 9.36482222]
 [23.22444271]
 [31.9155003 ]
 [19.10228271]
 [25.51579303]
 [29.04256769]
 [20.14358566]
 [25.5859787 ]
 [ 5.70159447]
 [20.09474756]
 [14.95069156]
 [12.50395648]
 [20.72635294]
 [24.73957161]
 [-0.164237  ]
 [13.68486682]
 [16.18359697]
 [22.27621999]
 [24.47902364]]

 A different regression model is a decision tree regression. This model will use the training data to create a decision tree that can be used to make predictions on the test data. The decision tree will split the data based on the feature that results in the highest decrease in impurity (using a metric like mean squared error).

The hyperparameters of the model can also be tuned , like the maximum depth of the tree or the minimum number of samples required to split a node, to improve its performance.

In [22]:
from sklearn.tree import DecisionTreeRegressor

# Create a decision tree regression model
dt_reg = DecisionTreeRegressor(random_state=0)

# Fit the model to the training data
dt_reg.fit(X_train, y_train)

# Make predictions on the test data
y_pred = dt_reg.predict(X_test)
print(y_pred)

[28.1 33.1 17.3 21.7 23.2 18.5 16.6 16.6 22.7 22.  20.5 21.4  7.2 20.6
 18.7 25.  19.5 10.5 44.  16.7 22.6 23.7 13.6 23.8 13.8 11.7 21.2 13.5
 19.4 20.8 19.5 23.1 17.8 14.5 13.3 15.6 33.4 19.  21.7 24.8 19.8 28.4
 46.  19.3 22.  13.  14.3 23.7 17.5 35.1 21.7 36.1 16.6 32.  43.1 19.5
 15.2 28.  21.6 22.5 24.8 33.  29.8 16.1 22.8 14.4 15.4 23.2 26.6 14.1
 21.2 28.7  8.3 18.6 21.4 10.5 19.8 50.  13.3  8.1 21.2 16.3 19.4 10.5
 14.5 29.9 14.3 23.  23.1 18.1 22.8  8.8 19.8 17.5 16.2 19.8 50.  16.3
 11.7 16.3 18.5 28.1]

#- Exercise 2

Compare them based on MSE and R2.

In [23]:
from sklearn.metrics import mean_squared_error
y_pred = lin_reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 24.291119474973616

In [24]:
from sklearn.metrics import r2_score

y_pred = lin_reg.predict(X_test)
accuracy = r2_score(y_test, y_pred)

print("Accuracy:", accuracy)

Accuracy: 0.6687594935356307

In [25]:
from sklearn.metrics import mean_squared_error
y_pred = dt_reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 10.090098039215684

In [26]:
from sklearn.metrics import r2_score

y_pred = dt_reg.predict(X_test)
accuracy = r2_score(y_test, y_pred)

print("Accuracy:", accuracy)

Accuracy: 0.862408597996961

#- Exercise 3

Train them using the different parameters they support to try to improve their prediction.

To train the linear regression model with different parameters, GridSearchCV or RandomizedSearchCV from scikit-learn's model_selection library can be used. These methods allow defining a range of parameters and their values, and then train and test the model using these different combinations of parameters. The GridSearchCV method performs an exhaustive search of all possible combinations of parameters, while the RandomizedSearchCV method performs a random search of a specified number of parameter combinations.

In [27]:
from sklearn.model_selection import GridSearchCV

# Define the parameters you want to search through
param_grid = {'fit_intercept':[True,False], 'normalize':[True,False], 'copy_X':[True, False]}

# Create the grid search object
lin_reg = LinearRegression()
grid_search = GridSearchCV(lin_reg, param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the grid search to the data
grid_search.fit(X_train, y_train)

# Print the best parameters and score
print("Best parameters: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

# Use the best parameters to make predictions
lin_reg = grid_search.best_estimator_
y_pred = lin_reg.predict(X_test)

# Evaluate the accuracy of the predictions
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean squared error: ", mse)

accuracy = r2_score(y_test, y_pred)

print("Accuracy:", accuracy)

Best parameters:  {'copy_X': True, 'fit_intercept': True, 'normalize': True}
Best score:  -23.65441827030464
Mean squared error:  24.291119474973527
Accuracy: 0.6687594935356318

In [28]:
# Fit the model to the training data
lin_reg.fit(X_train, y_train)

LinearRegression(normalize=True)

In [29]:
from sklearn.metrics import r2_score

y_pred = lin_reg.predict(X_test)
accuracy = r2_score(y_test, y_pred)

print("Accuracy:", accuracy)

Accuracy: 0.6687594935356318

In [32]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

dt_reg = DecisionTreeRegressor()

param_grid = {'max_depth':[3,5,7,10], 'min_samples_leaf':[1,2,5,10]}

grid_search = GridSearchCV(dt_reg, param_grid, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
best_score = grid_search.best_score_

dt_reg = DecisionTreeRegressor(**best_params)
dt_reg.fit(X_train, y_train)

y_pred_dt = dt_reg.predict(X_test)

print('The best parameters are: ', best_params)
print('The best score is: ', best_score)

from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred_dt)
print("R2 Score: ", r2)

The best parameters are:  {'max_depth': 7, 'min_samples_leaf': 10}
The best score is:  -21.97897931196132
R2 Score:  0.7812474562261831

#- Exercise 4

Compare your performance using the traint/test approach or using all data (internal validation).

In [34]:
lin_reg_all = LinearRegression()
lin_reg_all.fit(X, y)

y_pred_all = lin_reg_all.predict(X)


mse_all = mean_squared_error(y, y_pred_all)
print("Mean squared error (internal validation): ", mse_all)

accuracy_all = r2_score(y, y_pred_all)
print("Accuracy (internal validation):", accuracy_all)

Mean squared error (internal validation):  21.894831181729202
Accuracy (internal validation): 0.7406426641094095

#- Exercise 5

Do not use the number of rooms (RM) variable when making predictions.

In [40]:
X_train_df = X_train_df.drop(columns=['RM'])
X_test_df = X_test_df.drop(columns=['RM'])

# Fit the grid search to the data
grid_search.fit(X_train, y_train)

# Use the best parameters to make predictions
lin_reg = grid_search.best_estimator_
y_pred = lin_reg.predict(X_test)

# Evaluate the accuracy of the predictions
mse = mean_squared_error(y_test, y_pred)
print("Mean squared error: ", mse)

accuracy = r2_score(y_test, y_pred)

print("Accuracy:", accuracy)

Mean squared error:  24.291119474973527
Accuracy: 0.6687594935356318

In [39]:
X = df.drop(['RM', 'MEDV'], axis=1)
y = df['MEDV']

# Define the parameters you want to search through
param_grid = {'fit_intercept':[True,False], 'normalize':[True,False], 'copy_X':[True, False]}

# Create the grid search object
lin_reg = LinearRegression()
grid_search = GridSearchCV(lin_reg, param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the grid search to the data
grid_search.fit(X, y)

# Print the best parameters and score
print("Best parameters: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

# Use the best parameters to make predictions
lin_reg = grid_search.best_estimator_
y_pred = lin_reg.predict(X)

# Evaluate the accuracy of the predictions
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y, y_pred)
print("Mean squared error: ", mse)

accuracy = r2_score(y, y_pred)

print("Accuracy:", accuracy)

Best parameters:  {'copy_X': True, 'fit_intercept': True, 'normalize': False}
Best score:  -30.458873233689662
Mean squared error:  25.593100117551227
Accuracy: 0.6968344625005228